.cursor {
  position: fixed;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-color: #8b69fa;
  border-radius: 50%;
  pointer-events: none;
  z-index: 9999;
  mix-blend-mode: normal;
}
